.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: cornflowerblue;
    padding: 20px;
}

.container .block {
    padding: 50px;
    background-color: white;
    text-align: center;
}
