body {
    width: 95%;
    margin: auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

header img {
    display: block;
    margin: 0 auto;
    width: 35%;
}

header p, .weekend {
    text-align: center;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

.weekend {
    width: 25%;
    float: right;
    border-style: solid;
    border-color: #a7cece;
    padding: 25px;
}

.weekend h1 {
    color: black;
}

.weekend h2 {
    color: red;
}

.weekend p {
    margin-top: 5px;
}

.weekend img {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
}

.weekend a {
    text-decoration: underline;
    color: black;
}

.weekend a:hover {
    background-color: brown;
    color: white;
}

#guarantee {
    background-color: #a7cece;
    color: #444444;
    padding: 20px 20px 20px 60px;
    margin: 30px;
    border: 2px dotted white;
    text-align: left;
    width: 90%;
    position: relative;
}

#guarantee img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

#guarantee a {
    color: black;
    text-decoration: underline;
}

article {
    margin-bottom: 20px;
}

.tekst {
    width: 70%;
}

footer {
    text-align: center;
    margin-top: 300px;
    padding: 10px;
    width: 100%;
}